[submodule "libft"]
	path = libft
	url = https://github.com/IvanKozlov95/libft
	ignore = dirty
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/IvanKozlov95/ft_printf
	ignore = dirty
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/IvanKozlov95/get_next_line
